{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BACE Youth Movement{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <!-- Include Navbar -->
    {% include 'members/navbar.html' %}

    <!-- Main Content -->
    <main class="container">
        {% block content %}
        <!-- Page-specific content will be injected here -->
        {% endblock %}
    </main>


    <!-- Footer Section -->
    <footer class="bg-light py-3">
        <div class="container">
            <p class="text-center mb-0">&copy; 2024 BACE Youth Movement. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>